<!DOCTYPE html>
<html ng-app="CSMApp" ng-controller="CSMController">
<head>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/oauth-js/dist/oauth.js"></script>
  <script src="lib/ngstorage/ngStorage.min.js"></script>

  <script src="public/index.js"></script>

  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <!--<link rel="stylesheet" type="text/css" href="public/style.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=0.48" />
  <title>ClientState</title>
  <!-- <link rel="shortcut icon" href="favicon.ico?v=2309jfaodso"> -->
<style>
.app {
  margin: 1em;
  padding: 1em;
  border: 1px solid orange;
}
.new-provider-id-secret {
  margin-top: 1em;
}
</style>
</head>
<body>

  <button ng-show="!$storage.github_access_token"
          ng-click="github_login()"
          class="btn btn-primary btn-random">
    <!--<img src="img/octocat.png" title="Connect with Github" />-->
    Github Login
  </button>

  <div ng-show="$storage.github_access_token">
    <button ng-click="logout()">Logout</button>

    <!-- Edit existing Apps -->
    <div class="app" ng-repeat="app in apps">
      <h1>{{ app.name }}</h1>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td><input ng-model="app.name"> <button ng-click="save_app(app)">Save</button></td>
          <td>{{ app.id }}</td>
          <td>TODO: delete and ....</td>
        </tr>
      </table>

      <div ng-show="app.provider_id_secrets.length > 0">
        <h3>Provider Id Secrets</h3>
        <table class="table">
          <tr>
            <th>Provider</th>
            <th>Client ID</th>
            <th>Client Secret</th>
            <th>Oauth Redirect URL</th>
            <th>Created</th>
            <th>Updated</th>
          <tr ng-repeat="pis in app.provider_id_secrets">
            <td>{{ pis.provider }}</td>
            <td>{{ pis.client_id }}</td>
            <td>{{ pis.client_secret }}</td>
            <td>{{ pis.oauth_redirect_url }}</td>
            <td>{{ pis.created_at }}</td>
            <td>{{ pis.updated_at }}</td>
          </tr>
        </table>
      </div>
      <!--
      TODO: allow only 1 PIS per provider per app
      so, change a bit when we support multiple providers
      -->
      <div class="new-provider-id-secret" ng-show="app.provider_id_secrets.length < 1">
        <input ng-model="app.new_client_id" placeholder="GITHUB_CLIENT_ID">
        <input ng-model="app.new_client_secret" placeholder="GITHUB_CLIENT_SECRET">
        <input ng-model="app.new_oauth_redirect_url" placeholder="OAUTH_REDIRECT_URL">
        <button ng-click="create_pis(app)">
          Save App Credentials
        </button>
      </div>


      <div ng-show="app.services.length > 0">
        <h4>Services</h4>
        <table class="table">
          <tr>
            <th>Type</th>
            <th>ID</th>
            <th>Actions</th>
          </tr>
          <tr ng-repeat="service in app.services">
            <td>{{ service.type }}</td>
            <td>{{ service.id }}</td>
            <td>
              <button ng-click="delete_service(service)">X</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="new-service" ng-show="app.provider_id_secrets.length > 0">
        <select ng-model="app.new_service_type">
          <option value="">Redis</option>
          <option value="postgres">Postgres</option>
        </select>
        <button ng-click="create_service(app.new_service_type, app.id)"
                ng-disabled="app.provider_id_secrets.length === 0">
          Launch New Service
        </button>
      </div>
      </div>

    </div><!-- app in apps -->
    <!-- Create a new App -->
    <div id="new-app" ng-show="$storage.github_access_token">
      <input ng-model="newAppName" placeholder="New App Name">
      <button ng-click="create_new_app()">Create New App</button>
    </div>
  </div>


</body>
</html>
