<!DOCTYPE html>
<html ng-app="CSMApp" ng-controller="CSMController">
<head>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/oauth-js/dist/oauth.js"></script>
  <script src="lib/ngstorage/ngStorage.min.js"></script>

  <script src="public/index.js"></script>

  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <!--<link rel="stylesheet" type="text/css" href="public/style.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=0.48" />
  <title>ClientState</title>
  <!-- <link rel="shortcut icon" href="favicon.ico?v=2309jfaodso"> -->
<style>
.app {
  margin: 1em;
  padding: 1em;
  border: 1px solid orange;
}
#new-app input {
  min-width: 300px;
}
</style>
</head>
<body>

  <button ng-show="!$storage.github_access_token"
          ng-click="github_login()"
          class="btn btn-primary btn-random">
    <!--<img src="img/octocat.png" title="Connect with Github" />-->
    Github Login
  </button>

  <div ng-show="$storage.github_access_token">
    <button ng-click="logout()">Logout</button>

    <div class="app" ng-repeat="app in apps">
      <h1>{{ app.name }}</h1>
      <table class="table">
        <tr>
          <th>name</th>
          <th>id</th>
          <th>secret</th>
          <th>url</th>
        </tr>
        <tr>
          <td><input ng-model="app.name"> <button ng-click="save_app(app)">Save</button></td>
          <td>{{ app.id }}</td>
          <td>{{ app.secret }}</td>
          <td>{{ app.oauth_redirect_url }}</td>
        </tr>
      </table>

      <div ng-show="app.containers.length > 0">
        LAUNCHED!
      </div>
      <div ng-show="app.containers.length == 0">
        <button ng-click="launch_service(app.id)">
          Launch!
        </button>
      </div>
    </div><!-- app in apps -->


    <!-- Create a new App -->
    <div id="new-app" class="input-group app" ng-show="$storage.github_access_token">
      <h1>Create new App</h1>
      <input ng-model="newapp_name" placeholder="New App Name">
      <input ng-model="newapp_id" placeholder="GITHUB_CLIENT_ID">
      <input ng-model="newapp_secret" placeholder="GITHUB_CLIENT_SECRET">
      <input ng-model="newapp_oauth_redirect_url" placeholder="OAUTH_REDIRECT_URL">
      <button ng-click="create_new_app()">Create New App</button>
    </div>

  </div><!-- logged in - $storage.github_access_token -->


</body>
</html>
